body {
	background: black;
}
h1 {

	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
}
h2 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
}
img {
	display: block;
	margin: 0 auto;
	box-shadow: 0px 0px 50px #808080;
	object-fit: cover;
	max-height:500px;
	max-width:500px;
}
p {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
}
p.min {
	margin: 0;
}
form {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
	border: 0px;
}
.white-text{
	color: white;
}
.black-text{
	color: black;
}
div.align_center {
	margin: 25px auto;
	width: 500px;
}
iframe {
	border: 0px;
}
fieldset{
	border: 0px;
}
.imageLink {
	margin: 0 auto;
}
.button {
	border: none;
	padding: 15px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 10px;
}
.buy-button {
	font-color: black;
	background-color: #e1e1e1;
	max-width: 100%;
	width: 190px;
}
.half-width {
	display: inline-block;
	width:50%;
}
.third-width {
	display: inline-block;
	width:33%;
}
.stream-button {
	font-color: white;
	background-color: #29332c;
	width: 105px;
	max-width: 100%;
}
#two-thirds {
	margin: auto;
	width: 66%;
}
#button-container {
	margin: auto;
	padding: 10px;
	width: 500px;
	min-height: 200px;
}
